<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Web Hotel - Клиенты</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.24.2/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.24.2/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.24.2/dist/js/uikit-icons.min.js"></script>
</head>
<body>
    <header>
        <nav class="uk-navbar-container uk-navbar" uk-navbar>
            <div class="uk-navbar-left uk-margin-left">
                <div class="uk-navbar-item">
                    <a class="uk-navbar-item uk-logo" href="/">Web Hotel</a>
                </div>
                <div class="uk-navbar-item">
                    <a class="uk-link-text" href="{% url 'clients' %}">Список клиентов</a>
                </div>
                <div class="uk-navbar-item">
                    <a class="uk-link-text" href="{% url 'rooms' %}">Номерной фонд</a>
                </div>
                <div class="uk-navbar-item">
                    <a class="uk-link-text" href="{% url 'service_provision' %}">Записи на услуги</a>
                </div>
            </div>
            <div class="uk-navbar-right uk-margin-right">
                <div class="uk-navbar-item">
                    <a class="uk-navbar-item uk-link-text" href="/logout/">Выйти</a>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="uk-container uk-margin-top">
            <h1 class="uk-text-center">Список клиентов</h1>
            <div class="uk-container uk-margin-top">
                {% for client in clients %}
                <div class="uk-card uk-card-default uk-card-body uk-margin-bottom">
                    <h3 class="uk-card-title">{{ client.name }}</h3>
                    <p>Номер телефона: {{ client.phone_number }}</p>
                    <p>Дата рождения: {{ client.date_of_birth|date:"d.m.Y" }}</p>
                    <p>Скидка: {{ client.discount }}%</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
</body>
</html>