<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Web Hotel - Главная</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.24.2/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.24.2/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.24.2/dist/js/uikit-icons.min.js"></script>
</head>
<body>
    <header>
        <nav class="uk-navbar-container uk-navbar" uk-navbar>
            <div class="uk-navbar-left uk-margin-left">
                <div class="uk-navbar-item">
                    <a class="uk-navbar-item uk-logo" href="/">Web Hotel</a>
                </div>
                {% block links %}{% endblock %}
            </div>
            {% block search %}{% endblock %}
            <div class="uk-navbar-right uk-margin-right">
                <div class="uk-navbar-item">
                    <a class="uk-navbar-item uk-link-text" href="/logout/">Выйти</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="uk-container uk-margin-top">
            <h1 class="uk-text-center">Список услуг</h1>
            <div class="uk-container uk-margin-top">
                {% for service in services %}
                <div class="uk-card uk-card-default uk-card-body uk-margin-bottom" {% block available_service %}{% endblock %}>
                    <h3 class="uk-card-title">{{ service.name }}</h3>
                    <p>{{ service.description }}</p>
                    <p><b>Цена:</b> {{ service.price }} руб.</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
</body>
</html>